.blogContainer {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}


.img {
    object-fit: cover;
}

.title{
    margin-bottom: 10px;
}

.des {
    font-size: 18px;
    color: #999;
}